{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de músicas{% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_musica") }}">Cadastrar nova música</a>
</p>

<table border="1">
    <tr>
        <td>Nome</td>
        <td>Artista</td>
        <td>Duracao</td>
        <td>Genero</td>
    </tr>

    {% for m in musica %}
    <tr>
        <td>{{m.nome}}</td>
        <td>{{m.artista}}</td>
        <td>{{m.duracao}}</td>
        <td>{{m.genero}}</td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}
